@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}



@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.boxcss{
  @apply rounded-2xl border-2 border-green-600 shadow-green-500 hover:shadow-md p-5
}

.bgnav{
   @apply bg-base-100 bg-gradient-to-tr from-[#00ff87]/20 via-[#60efff]/20 to-[#00ff87]/20 shadow-md
}

.bg{
   @apply bg-base-100 bg-gradient-to-r from-[#00ff87]/10 via-[#60efff]/10 to-[#00ff87]/10
}

.btncss{
  @apply bg-gradient-to-br from-[#00ff87] to-[#60efff] text-white p-3 rounded-2xl hover:scale-105 transition-all duration-500
}